{% extends "side_nav.html" %}

{% load i18n %}

{% block content_to_right %}
  <div style="height: 100%; overflow-y: scroll">
    <br>
    {% for literary_compos in literary_composes %}
      <div class="row">
        <div class="column small-12">
          <p><a href="{{ literary_compos.get_absolute_url }}">{{ literary_compos }}</a>
            (Created: {{ literary_compos.created }})
            <span class="float-right">
              {% if literary_compos.is_public %}
                <a href="{% url 'literary-compos-unpublish' literary_compos.compos_id %}">
                  <button class="button smtinyall">
                    {% trans "Unpublish" %}
                  </button>
                </a>
              {% else %}
                <a href="{% url 'literary-compos-publish' literary_compos.compos_id %}">
                  <button class="button smtinyall">
                    {% trans "Publish" %}
                  </button>
                </a>
              {% endif %}
              <a href="{% url 'literary-compos-copy-owner' literary_compos.compos_id %}">
                <button class="button smtinyall">
                  {% trans "Copy" %}
                </button>
              </a>
              <button href="#" data-open="deleteModal-{{ literary_compos.compos_id }}" class="button smtinyall alert">
                {% trans "Delete" %}
              </button>
            </span>
          </p>
          <hr>
        </div>
      </div>

      <div class="tiny reveal" id="deleteModal-{{ literary_compos.compos_id }}" data-reveal>
        <p style="padding-top: 20px;">Are you sure you that you want to delete {{ literary_compos }}?</p>
        <button class="close-button" data-close aria-label="Clole modal" type="button">
          <span class="true">&times;</span>
        </button>

        <form method="post" action="{% url 'literary-compos-delete' literary_compos.compos_id %}">
          {% csrf_token %}
          <div class="text-center">
            <button type="submit" class="button smtinyall alert">
              <span>Delete</span>
            </button>
          </div>
        </form>
      </div>
    {% endfor %}
  </div>
  <div class="row">
    <div class="column small-12">
      <p>
        <a href="{% url 'literary-compos-new' %}">
          <button class="button float-right" style="margin-top: 15px; margin-right: 10px">
            {% trans "New literary composition" %}
          </button>
        </a>
      </p>
    </div>
  </div>
{% endblock %}