{% extends 'side_nav.html' %}

{% load i18n %}

{% block extrascripts %}
  {% include 'reload_on_refresh.html' %}

  <script>
    function setupChatMessagesUploading(limit=10) {
      let offset = 0;
      let msgArea = $('#msgArea');
      let msgScroll = $('#msgScroll');

      let total_num = 0, page_num = 0;
      let displayed_num = 0;

      function appendChatMessages(scrollDown=false) {
        $.ajax({
          url: "{% url 'chat-messages' %}?limit=" + limit + "&offset=" + offset + "&chat=" + {{ chat.id }},
          type: 'get',
          async: true,
          success: function(data) {
            let results = data['results'];
            total_num = data['count'];
            page_num = results.length;
            for (let i = 0; i < results.length; i++){
              let message = results[i];
              msgArea.prepend('<div style="padding-left: 20px; padding-right: 20px;"><a href="' + message.author_profile_view + '">' +
              '<strong>'+ message.author_name + '</strong></a>: <br>' +
              '<div style="word-wrap: break-word; white-space: pre-wrap;">'
              + message.text + '</div></div><hr>');
            }
            offset += results.length;
            displayed_num += page_num;
            if (scrollDown) {
              msgScroll.scrollTop(1000000);
            }

            setTimeout(function () {
              if (msgScroll[0].scrollTop <= 0 && displayed_num < total_num) {
                appendChatMessages(false);
              }
            }, 300)
          }
         });
      }
      do {
        appendChatMessages(true);
      } while (msgScroll[0].scrollTop <= 0 && displayed_num < total_num);

      msgScroll[0].onscroll = function (){
        if(msgScroll[0].scrollTop <= 0 && displayed_num < total_num) {
          appendChatMessages(false);
        }
      }
    }
  </script>

  <script>
    $(document).ready(function(){
      let msgScroll = $('#msgScroll');
      let msgArea = $('#msgArea');
      let elementMessage = $('#message');

      let webSocket = new WebSocket('wss://' + window.location.host + '/chat/' + {{ chat.id }} + '/');
      webSocket.onmessage = function(message) {
        let data = JSON.parse(message.data);
        msgArea.append('<div style="padding-left: 20px; padding-right: 20px;"><a href="' + data.sender.profile_view + '">' +
          '<strong>'+ data.sender.username + '</strong></a>: <br>' +
          '<div style="word-wrap: break-word; white-space: pre-wrap;">'
          + $('<div>').text(data.message).html()  + '</div></div><hr>');

        webSocket.send(JSON.stringify({
          'type': 'got_message',
        }));

        msgScroll.scrollTop(1000000);
      };

      function webSocketSend() {
        webSocket.send(JSON.stringify({
          'type': 'message',
          'text': elementMessage.val()
        }));
        elementMessage.val('');
      }

      $('#btnSubmit').click( function(e) {
        if (elementMessage.val()){
          webSocketSend();
        }
      });
      elementMessage.keydown( function(e) {
        if (!e.shiftKey && e.keyCode == 13){
          e.preventDefault();
          if (elementMessage.val()){
            webSocketSend();
          }
        }
      });
      setupChatMessagesUploading(10);
    });
  </script>
{% endblock %}

{% block content_to_right %}
  <div class="row" style="height: 100%;">
    <div class="small-12 small-centered" style="height: 104%;">
      <div style="height: 100%;">
        <div id="msgScroll" style="height: 75%; overflow-y: scroll">
          <br>
          <div id="msgArea"></div>
        </div>

        <div style="height: 15%;">
          <div>
            <textarea name="message" placeholder="{% trans "Type a message..." %}" id="message" style="width: 100%; height: 120px"></textarea>
          </div>

          <button class="button float-right" style="margin-right: 10px;" id="btnSubmit">{% trans "Send" %}</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}