{% extends 'side_nav.html' %}

{% load i18n %}

{% block extrascripts %}
  {% include 'reload_on_refresh.html' %}
  <script>
    $(document).ready(function(){
      let msgArea = $('#msgArea');
      let elementMessage = $('#message');
      let webSocket = new WebSocket('ws://' + window.location.host + '/chat/' + {{ chat.id }} + '/');
      webSocket.onmessage = function(message) {
        let data = JSON.parse(message.data);
        msgArea.append('<div><a href="' + data.sender.profile_view + '">' +
          '<strong>'+ data.sender.username + '</strong></a>: <br>' +
          '<div style="word-wrap: break-word; white-space: pre-wrap;">'
          + data.message + '</div></div><hr>');
        msgArea.scrollTop(1000000);
      };

      function webSocketSend() {
        webSocket.send(elementMessage.val());
      }

      $('#btnSubmit').click( function(e) {
        webSocketSend();
      });
      elementMessage.keydown( function(e) {
        if (!e.shiftKey && e.keyCode == 13){
          webSocketSend();
          elementMessage.val('');
          e.preventDefault();
        }
      });
      msgArea.scrollTop(1000000);
    });
  </script>
{% endblock %}

{% block content_to_right %}
  <div class="row" style="height: 100%;">
    <div class="small-11 small-centered" style="height: 100%;">
      <div style="height: 100%;">
        <div id="msgArea" style="height: 75%; overflow-y: scroll">
          <br>
          {% for message in messages.all %}
            <div><a href="{{ message.author.profile.get_absolute_url }}"><strong>{{ message.author }}</strong></a>: <br>
              <div style="word-wrap: break-word; white-space: pre-wrap;">{{ message.text }}</div>
            </div>
            <hr>
          {% endfor %}
        </div>

        <div style="height: 15%;">
          <div>
            <textarea name="message" placeholder="{% trans "Type a message..." %}" id="message" style="width: 100%; height: 120px"></textarea>
          </div>

          <button class="button float-right" id="btnSubmit">{% trans "Send" %}</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}