{% extends 'base.html' %}

{% load i18n %}

{% block extrascripts %}
  {% include 'reload_on_refresh.html' %}
  <script>
    $(document).ready(function(){
      var msgArea = $('#msgArea');
      var elementMessage = $('#message');
      var webSocket = new WebSocket('ws://' + window.location.host + '/chat/' + {{ chat.id }} + '/');
      webSocket.onmessage = function(message) {
        var data = JSON.parse(message.data);
        msgArea.append('<div><a href="' + data.sender.profile_view + '"><p><strong>'+ data.sender.username + '</strong></a>: ' + data.message + '</p></div>');
      };
      $('#btnSubmit').click(function(e) {
        webSocket.send(elementMessage.val());
      });
    });
  </script>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="small-8 small-centered">
      <div style="padding-top: 20px;">
        <div id="msgArea">
          {% for message in chat.messages.all %}
            <div><p><a href="{{ message.author.profile.get_absolute_url }}"><strong>{{ message.author }}</strong></a>: {{ message.text }}</p></div>
          {% endfor %}
        </div>

        <div>
          <textarea name="message" id="message" style="width: 100%; height: 120px"></textarea>
        </div>

        <button class="button" id="btnSubmit">{% trans "Submit" %}</button>
      </div>
    </div>
  </div>
{% endblock %}