{% extends 'base.html' %}

{% load i18n static %}

{% block extrascripts %}
  <script src="{% static 'third_party/gitgraph/gitgraph.min.js' %}"></script>
  <script>
    $(document).ready(function(){
      let myTemplateConfig = {
        commit: {
          shouldDisplayTooltipsInCompactMode: true,
          tooltipHTMLFormatter: function ( commit ) {
            return commit.message;
          }
        }
      };
      let root = location.protocol + '//' + location.host;

      let myTemplate = new GitGraph.Template( myTemplateConfig );

      let gitgraph = new GitGraph({
        template: myTemplate,
        orientation: 'horizontal-reverse',
      });

      gitgraph.canvas.addEventListener( "commit:mouseover", function ( event ) {
        this.style.cursor = "pointer";
      } );

      gitgraph.canvas.addEventListener("commit:mouseout", function (event) {
        this.style.cursor = "auto";
      });

      let tree = {{ tree }};

      if (tree) {
        document.getElementById('gitGraph').removeAttribute('hidden');
      }

      let branchesDict = {};

      function displayTree(commit_el, parent_branch_id) {
        if (!commit_el) return;

        let branch_id = commit_el['branch_id'];
        let commit_id = commit_el['commit_id'];
        if (!branchesDict[branch_id]){
          branchesDict[branch_id] = gitgraph.branch(branch_id);
        } else {
          branchesDict[branch_id].checkout();
        }

        gitgraph.commit({
            message: commit_el['title'] + ' (commit ' + commit_id + ')',
            onClick: function(commit) {
              window.location = root + commit_el['absolute_url'];
            }
          });

        let children = commit_el['children'];
        children.sort((a, b) => a['branch_id'] === parent_branch_id);

        for (child of children){
          displayTree(child, branch_id);
        }
      }

      displayTree(tree);
    });
  </script>
{% endblock %}

{% block extrastyles %}
  <link rel="stylesheet" type="text/css" href="{% static 'third_party/gitgraph/gitgraph.css' %}" />
{% endblock %}

{% block content %}
  <div class="row" style="padding-top: 5px">
    <div class="small-12">
      <canvas id="gitGraph" hidden></canvas>

      <form method="post">
        {% csrf_token %}
        <div>
          {{ form.title }}
          {{ form.content }}
        </div>

        <button class="button float-right" type="submit">Save</button>
      </form>
    </div>
  </div>
{% endblock %}