{% extends 'base.html' %}

{% block content %}
  <div class="row">
    <div class="small-4 small-centered columns">
      <div>
        <h4 style="text-align: center;">{% block form_header %}{% endblock %}</h4>
        {% include 'form_errors.html' with form=form %}
        <form method="post">
          {% csrf_token %}
          {% include 'form_fields_with_errors.html' with form=form %}
          <div class="float-right">
            <input type="submit" class="small button" style="vertical-align: middle" name="submit" value="{% block submit_val %}{% endblock %}">
          </div>
        </form>
        {% block additions %}{% endblock %}
      </div>
    </div>
  </div>
{% endblock %}