{% extends 'accounts_base.html' %}

{% load i18n %}

{% block content %}
  <div class="row expanded collapse" style="height: 100%">
    <div class="columns small-4 large-2" style="height: 113%; overflow: hidden;">
        <ul class="vertical menu side-nav">
          <li><a href="{% url 'profiles-search' %}">{% trans "Search for users" %}</a></li>
          <li><a href="{% url 'profile-friends' %}">{% trans "Friends" %}
            {% if request.user.profile.inviters.all.count %}( +{{ request.user.profile.inviters.all.count }} ){% endif %}</a></li>
          <li><a href="{% url 'chatrooms' %}">{% trans "Chats" %}
            {% if unread_chats_num %}( +{{ unread_chats_num }} ){% endif %}</a></li>
          <li><a href="{% url 'workspace-home' %}">{% trans "Workspace" %}</a></li>
          <li><a href="{% url 'workspace-guest' user.id %}">{% trans "Published compositions" %}</a></li>
        </ul>
    </div>
    <div class="columns small-8 large-10" style="height:100%;">
      {% block content_to_right %}
      {% endblock %}
    </div>
  </div>
{% endblock %}