{% extends 'accounts_base.html' %}

{% load i18n %}

{% block content %}
  <div class="row expanded collapse full-height">
    <div class="columns small-4 large-2 full-height">
{#      <div class="docs-nav-container sticky is-at-top is-stuck" style="max-width: 160.75px; margin-top: 5em;">#}
        <ul class="vertical menu side-nav">
          <li><a href="{% url 'profiles-search' %}">{% trans "Search for users" %}</a></li>
          <li><a href="{% url 'workspace-home' %}">{% trans "Workspace" %}</a></li>
        </ul>
{#      </div>#}
    </div>
    <div class="columns small-8 large-10">
      {% block content_to_right %}
      {% endblock %}
    </div>
  </div>
{% endblock %}