<div class="top-bar">
  <div class="top-bar-left">
    <ul class="menu">
      <li class="menu-text"><a href="{% if not request.user.is_authenticated %}{% url 'index' %}
{% else %}{% url 'profile' %}{% endif %}">Home</a></li>
      <li><a href="{% url 'workspace-home' %}">Workspace</a></li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      {% if request.user.is_authenticated %}
        <li><a href="{% url 'logout' %}">Log out ({{ request.user.username }})</a></li>
      {% else %}
        <li><a href="{% url 'login' %}">Log in</a></li>
        <li><a href="{% url 'register' %}">Register</a></li>
      {% endif %}
    </ul>
  </div>
</div>